################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/MEMORY/.vs/MEMORY
/MEMORY/MEMORY/obj
/MEMORY/MEMORY/bin/Debug
